<html>
  
  <div>
        <div fxLayout="column">
        <a routerLink="/user/login">Login</a>
        </div>
        <div>REGISTER HERE</div>

<div class="form-container">
  <form (submit)="register()" class="border border-primary">
    
      <input [(ngModel)]="email" name="email" matInput placeholder="Your Email" type="email" required>
    
      <input [(ngModel)]="password" name="password" matInput placeholder="Your Password" type="password" required>
    

    <button mat-raised-button color="primary">Register</button>
  </form>
</div>
</div>
</html>