<div fxLayout="column">
    <a routerLink="/user/add">Entry the Student</a>|
  <a routerLink="/user/show">Show Students</a>|
  <a routerLink="/user/dis">Students Checked Out</a>|
  <a routerLink="/user/home">Log Out</a>|
  <hr>
  <strong><a routerLink="/user/get">  STUDENTS IN DATABASE</a>|</strong>
  
  </div>
  <hr>
<b>Enter file path along with name and type of file for eg:C:/Users/VC/Downloads/filename.csv or C:/Users/VC/Downloads/filename.xlsx</b>
<br>
<div>Enter the path here if file has .csv extension</div>

<form (submit)="file()" id="one">
    <input [(ngModel)]="path1" name="file1" placeholder="CSV FILE PATH" type="text" required>

    <button color="primary">Submit</button>
</form>
<br>
<hr>

<div>Enter the path here if file has .xlsx extension</div>
<form (submit)="file1()" id="two">
    <input [(ngModel)]="path2" name="file2" placeholder="XLSX FILE PATH" type="text" required>

    <button color="primary">Submit</button>
</form>