<html>
  <div>
    <div fxLayout="column">
      <a routerLink="/user/add">Entry the Student</a>|
    <a routerLink="/user/show">Show Students</a>|
    <a routerLink="/user/dis">Students Checked Out</a>|
    <a routerLink="/user/home">Log Out</a>|

    </div>
<hr>
<div>ENTRY OF STUDENT</div>
<div class="form-container">
  <form (submit)="AddStud()" class="border border-primary">
    
      <input [(ngModel)]="SID" name="SID" placeholder="SID" type="text" required>


    <button>ADD</button>
  </form>
</div>
</div>

</html>